@page "/fetchbugs"
@inject IBugService bugService

<h1>Bugs!</h1>

@if (bugs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ProjectId</th>
                <th>User</th>
                <th>Description</th>
                <th>Creation Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in bugs)
            {
                <tr>
                    <td>@u.ProjectId</td>
                    <td>@u.User.Name</td>
                    <td>@u.Description</td>
                    <td>@u.CreationDate</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<BugModel> bugs = new List<BugModel>();

    protected override async Task OnInitializedAsync()
    {
        bugs = await bugService.GetBugs();
    }
}
